{% set configuration = post.configuration.localeList.current %}

<!doctype html>
<html lang="{{ configuration.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/asset/style/main.css">

    <title>{{ configuration.title }}</title>
</head>
<body>
<div class="container">
    {{ post.content.content|raw }}

    <div class="border p-3">
        <p>Tags:</p>
        {% for tag in configuration.tagList %}
            <a href="#tag_{{ tag.id }}" class="badge badge-pill badge-secondary">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="/asset/script/main.js">
</script>
</body>
</html>
