{#

required:
- post
- configuration

todo:
optional:
- style
  - ?

#}

{% if post is defined and configuration is defined %}
    {# TODO: border-bottom #}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ configuration.title }}</h2>
        <p class="blog-post-meta">
            {{ configuration.date|date('F d, Y') }} by
            <a href="{{ url_for('blog.author', {
                'locale': locale,
                'name': configuration.author.name,
            }) }}">{{ configuration.author.nameDisplay }}</a>
        </p>

        {{ post.content.content|raw }}
    </div>
{% endif %}
