{#

target: row

required:
- post

optional:
- style
  - col

#}

{% set style = style is defined ? style : {} %}
{% set style = {
    'col': 6,
}|merge(style) %}

{% if post is defined %}
    {% set configuration = post.configuration.localeList.current %}
    {% set category = configuration.categoryList|first %}

    <div class="col-md-{{ style.col }}">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                {% if category is not null %}
                    <strong class="d-inline-block mb-2 text-primary">
                        {{ category.name }}
                    </strong>
                {% endif %}

                <h3 class="mb-0">
                    {{ configuration.title }}
                </h3>

                <div class="mb-1 text-muted">
                    {{ configuration.date|date('F d, Y') }}
                </div>

                <p class="card-text mb-auto">
                    {{ post.content.content|striptags|slice(0, 75) }}...
                </p>

                <a href="#" class="stretched-link">Continue reading</a>{# TODO: Add link. #}
            </div>

            <div class="col-auto d-none d-lg-block">
                {# TODO: Fix, add attachment. #}
                <img src="" width="200" height="250" style="background-color: #55595c;" alt="Thumbnail">
            </div>
        </div>
    </div>
{% endif %}
