{% extends '@theme-basic/_page.html.twig' %}

{#

todo:
target: page

required:
- post

optional:
- style
  - col_left
  - col_right

#}

{% set style = style is defined ? style : {} %}
{% set style = {
    'col_left': 8,
    'col_right': 4,
}|merge(style) %}

{% block content %}
    {% block content_header %}
        <div class="container">
            {% block header %}
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-stretch">
                        <div class="col-4 py-1 d-flex justify-content-start align-items-center">
                            {# TODO: What to link here? #}
                            <a class="text-muted" href="#">Subscribe</a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="blog-header-logo text-dark" href="{{ url_for('blog.home', {
                                'locale': locale,
                            }) }}">
                                Large
                            </a>
                        </div>
                        <div class="col-4 py-1 d-flex justify-content-end align-items-center">
                            {# TODO: Add search bar and form. #}
                            <a class="text-muted px-3" href="#" aria-label="Search">
                                <i class="fa fa-search"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-secondary" href="#">
                                Sign up
                            </a>
                        </div>
                    </div>
                </header>
            {% endblock %}

            {% block navigation %}
                {% if categoryListAll is defined and categoryListAll is not empty %}
                    <div class="nav-scroller py-1 mb-2">
                        <nav class="nav d-flex justify-content-between">
                            {% for category in categoryListAll %}
                                <a class="p-2 text-muted" href="{{ url_for('blog.category', {
                                    'locale': locale,
                                    'id': category.id,
                                }) }}">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </nav>
                    </div>
                {% endif %}
            {% endblock %}

            {% block feature %}
            {% endblock %}

            {% block feature_below %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block content_main %}
        <main role="main" class="container">
            <div class="row mt-4">
                {% block side_left %}
                    <div class="col-md-{{ style.col_left }} blog-main">
                        {% block side_left_inner %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block side_right %}
                    <aside class="col-md-{{ style.col_right }} blog-sidebar">
                        {% block side_right_inner %}
                        {% endblock %}
                    </aside>
                {% endblock %}
            </div>
        </main>
    {% endblock %}

    {% block content_footer %}
        {% block footer %}
            <footer class="blog-footer">
                <p>
                    Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
                            href="https://twitter.com/mdo">@mdo</a>.
                </p>

                <p>
                    <a href="#">
                        Back to top
                    </a>
                </p>
            </footer>
        {% endblock %}
    {% endblock %}
{% endblock %}
